.mat-toolbar {
    position: absolute;
    bottom: 0;
    height: 64px;
}

.spacer {
    width: 32px;
    text-align: center;
}

.spacer-left {
    margin-left: auto;
}

.dev {
    color: rgba(232, 232, 232, 0.768)
}


