button {
    border-radius: 8px;
}

.spacer {
    width: 32px;
}

.spacer-related {
    width: 8px;
}

.spacer-left {
    margin-left: auto;
}

mat-icon {
    transform: scale(2);
}

.spotify {
    font-weight: 900;
}

// TODO: add an animation to the button so it grows when hovered over


