button {
    border-radius: 8px;
}

.spacer {
    width: 32px;
}

.spacer-related {
    width: 4px;
}

.spacer-left {
    margin-left: auto;
}

mat-icon {
    transform: scale(2);
}

.spotify {
    font-weight: 900;
    font-size: 16px;
}

mat-toolbar {
    background-color:black;
    color: white;
}

// TODO: add an animation to the button so it grows when hovered over


