<div class="container">
  <div class="spacer-outer"></div>
  <div class="content">
    <div class="spacer-vertical"></div>
    <div class="user-welcome">
      <h1>Here are your stats at a glance, User.{{ username }}</h1>
    </div>
    <div class="spacer-vertical"></div>
    <div class="spacer-vertical"></div>
    <div class="pill">
      <mat-card>
        <mat-card-title><h1>Top Five All-Time Favorites</h1></mat-card-title>
        <div class="spacer-inner"></div>
        <mat-card-content
          ><mat-list>
            <mat-list-item>
              <span>Berlin by Alexander Flood</span>
            </mat-list-item>
            <mat-list-item>
              <span>Are You Ready by Telemakus</span>
            </mat-list-item>
            <mat-list-item>
              <span>Ghosts 'n Stuff by Deadmau5</span>
            </mat-list-item>
            <mat-list-item>
              <span>Ghosts 'n Stuff by Deadmau5</span>
            </mat-list-item>
            <mat-list-item>
              <span>Ghosts 'n Stuff by Deadmau5</span>
            </mat-list-item>
          </mat-list></mat-card-content
        >
      </mat-card>
      <mat-card>
        <mat-card-title><h1>Top Three Songs This Month</h1></mat-card-title>
        <div class="spacer-inner"></div>
        <mat-card-content
          ><mat-list>
            <mat-list-item>
              <span>Berlin by Alexander Flood</span>
            </mat-list-item>
            <mat-list-item>
              <span>Are You Ready by Telemakus</span>
            </mat-list-item>
            <mat-list-item>
              <span>Ghosts 'n Stuff by Deadmau5</span>
            </mat-list-item>
          </mat-list></mat-card-content
        >
      </mat-card>
      <mat-card>
        <mat-card-title><h1>Favorite Genres</h1></mat-card-title>
        <div class="spacer-inner"></div>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span>Funk</span>
            </mat-list-item>
            <mat-list-item>
              <span>Jazz</span>
            </mat-list-item>
            <mat-list-item>
              <span>House</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title><h1>Time Listened</h1></mat-card-title>
        <div class="spacer-inner"></div>
        <mat-card-content>60,000 Minutes</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title><h1>Favorite Artist</h1></mat-card-title>
        <div class="spacer-inner"></div>
        <mat-card-content>Tom Misch</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title><h1>Current Mood</h1></mat-card-title>
        <div class="spacer-inner"></div>
        <mat-card-content>Dark</mat-card-content>
      </mat-card>
    </div>
    <div class="spacer-vertical"></div>
  </div>
  <div class="spacer-outer"></div>
</div>
