<div class="container">
  <div class="spacer-outer"></div>
  <div class="content">
    <h1>Spotify Visualizer ver&#64;0.1.0</h1>
    <div class="spacer-vertical"></div>
    <app-search-bar></app-search-bar>
  </div>
  <div class="spacer-outer"></div>
</div>

<!-- <div class="pill">
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
  </div>
  <div class="spacer-vertical"></div>
  <div class="spacer-vertical"></div>
  <div class="pill">
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title><h1></h1></mat-card-title>
    </mat-card>
  </div> -->
